[kube_master]
192.168.0.100 hostname=kube-master ansible_user=pi

[kube_worker]
192.168.0.101 hostname=kube-worker-1 ansible_user=pi
192.168.0.102 hostname=kube-worker-2 ansible_user=pi

[kube_cluster:children]
kube_master
kube_worker

[kube_cluster:vars]
deploy_target=pi
